html{
    font-family: courier, Arial, Helvetica, sans-serif;
    color: rgba(13, 117, 18, 0.739);
    background-color: #010101;
}

.showPic{
    background: url( "images/hvl.jpg" ) no-repeat center fixed;
    background-size: cover;
  }

.hidePic{
    background-image: none;
}

#picView:hover{
    cursor: pointer;
}