html{
    font-family: courier, Arial, Helvetica, sans-serif;
    color: rgba(3, 196, 3, 0.739);
    background-color: #010101;
}

.showPic{
    background-image: url( "./images/hvl.jpg" );
    background-repeat: no-repeat;
}

.hidePic{
    background-image: none;
}

#picView:hover{
    cursor: pointer;
}